@staticmethod
    def {{ name }}({% if args %}{% for arg in args %}{{ arg.arg_name }}, {% endfor %}{% endif %}):
        cursor = {{ package_name }}.connection.cursor()

        {% for arg in args %}{{ arg.before_calling }}
        {% endfor %}
        cursor.callproc('{{ package_name }}.{{ name }}'{% if args %}, [{% for arg in args %}{{ arg.name }}, {% endfor %}]{% endif %})
        {% for arg in args %}{{ arg.after_calling }}
        {% endfor %}
        return {% for arg in args %}{{ arg.return_statement }}{% endfor %}

